<div>
    <h2>Doctors</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="doctor.new" has-any-authority="ROLE_ADMIN" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Doctor
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fname"><span>Fname</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lname"><span>Lname</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateOfBirth"><span>Date Of Birth</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="email"><span>Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="phoneNumber"><span>Phone Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="degree"><span>Degree</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="position"><span>Position</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="departmentName"><span>Department</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="doctor in vm.doctors track by doctor.id">
                    <td><a ui-sref="doctor-detail({id:doctor.id})">{{doctor.id}}</a></td>
                    <td>{{doctor.fname}}</td>
                    <td>{{doctor.lname}}</td>
                        <td>{{doctor.dateOfBirth | date:'mediumDate'}}</td>
                    <td>{{doctor.email}}</td>
                    <td>{{doctor.phoneNumber}}</td>
                    <td>{{doctor.degree}}</td>
                    <td>{{doctor.position}}</td>
                    <td>
                        <a ui-sref="department-detail({id:doctor.departmentId})">{{doctor.departmentName}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="doctor-detail({id:doctor.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit" has-any-authority="ROLE_ADMIN"
                                    ui-sref="doctor.edit({id:doctor.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit" has-any-authority="ROLE_ADMIN"
                                    ui-sref="doctor.delete({id:doctor.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
